body {
  background: #000000 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
}

html {
  background-color: black;
}

body {
  display: none;
  opacity: 0;
  transition: .5s;
}

.cmid {
  color: white;
}

.cmidInput {
  width: 360px;
  height: 35px;
  background-color: #2f2f2f;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
}

.cmidInputDiv {
  width: 360px;
  height: 35px;
  background-color: #2f2f2f;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  outline: none;
  padding-left: 16px;
}

#navbar {
  position: absolute;
  width: 100%;
  left: 0;
}

#logoutBtn:hover {
  cursor: pointer;
}
